body{ /*Kanterna*/

    /*Skapar kanterna runt huvudkroppen*/
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;

    /*Sätter bakgrundsfärgen på kanterna*/
    background-color: rgb(129, 129, 212)
}

div{ /*Kroppen av hemsidan*/

    /*Centrerar allt som default*/
    text-align: center;

    /*Sätter defaukt-bakgrundsfärgen på kroppen*/
    background-color: rgb(215, 215, 245);

    /*Rundar hörnen på kroppen så bakgrunden rundas*/
    border-radius: 2em;
}

div header{ /*Huvudet på hemsidan*/

    /*Ger den rätt area i griden*/
    grid-area: header;

    /*Skapar en border runt huvudet*/
    border-style: solid;

    /*Rundar de övre hörnen på bordern*/
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;

    /*Sätter färgen på bordern*/
    border-color:rgb(58, 58, 138);
}

div header h1{ /*Rubrken i huvudet*/

    /*Sätter stroleken på fonten*/
    font-size: 3em;

    /*Sätter färgen på bordern*/
    margin: 0.2em;
}

div main{ /*Magen av hemsidan*/
    grid-area: main;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: dotted;

    /*Sätter färgen på bordern*/
    border-color: rgb(58, 58, 138);
}

main h2{ /**/
    margin: 0%;
    padding: 0.5em;

    font-size: 2em;
}

main p{ /**/
    margin: 0%;
    padding-top: 0%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

    font-size: 1.2em;
}

div footer{
    grid-area: footer;
    
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: hidden;

    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-color:rgb(58, 58, 138);
}

footer > p{
    margin: 0%;
    padding: 0.5em;

    font-size: 1em;
}

#index > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

main li{
    text-align: left;
    font-size: 1.2em;
}

table{
    margin: 1em;
}

table, th, td{
    border-style: solid;

    width: 95%;

    border-radius: 0.3em;
    border-color:rgb(58, 58, 138);
    background-color:rgb(129, 129, 212);
}

th, td{
    padding: 1em;
    background-color:rgb(215, 215, 245);

}

td img{
    height: 10em;
}

td:nth-child(1){
    font-weight: bold;
}

tr:nth-child(2n) > td, th{
    background-color:rgb(143, 143, 229);
}

#sida3 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#index main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 0px;
    grid-template-areas: "section";
}

#index img{
    border-radius: 2em;
    width: 98%;
    padding: 1%;
}

#sida2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "section section";
}

#sida3 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "section section";
}

nav{
    grid-area: nav;
    
    border-left-style: dotted;
    border-right-style: dotted;

    border-width: 3px;
    border-color: rgb(58, 58, 138);
    background-color: rgb(143, 143, 229);
}

nav > ul{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "section";

    padding: 0;
    margin: 0;
}

#index nav li:nth-child(1){
    background-color: rgb(129, 129, 212);
}

#sida2 nav li:nth-child(2){
    background-color: rgb(129, 129, 212);
}

#sida3 nav li:nth-child(3){
    background-color: rgb(129, 129, 212);
}


nav li{
    list-style-type: none;
}

nav li:hover{
    background-color: rgb(129, 129, 212);
}

nav a{
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Arial;
}