body{

    text-align: center;

    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: auto;

    background-color: rgb(129, 129, 212)
}

div{
    background-color: rgb(215, 215, 245);
    border-radius: 2em;
}

div header{
    grid-area: header;

    border-style: solid;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-color:rgb(58, 58, 138);
}

div header h1{
    font-size: 3em;
    margin: 5px;
}

div main{
    grid-area: main;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: dotted;

    border-color: rgb(58, 58, 138);
}

main h2{
    margin: 0%;
    padding: 0.5em;

    font-size: 2em;
}

main p{
    margin: 0%;
    padding-top: 0%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

    font-size: 1.2em;
}

div footer{
    grid-area: footer;
    
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: hidden;

    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-color:rgb(58, 58, 138);
}

footer > p{
    margin: 0%;
    padding: 0.5em;

    font-size: 1em;
}

#index > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#sida3 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#index main{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "section";
}

#index img{
    border-radius: 2em;
    width: 90%;
    padding: 5%;
}

#sida2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section";
}

#sida3 main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section";
}

nav{
    grid-area: nav;
    
    border-left-style: dotted;
    border-right-style: dotted;

    border-width: 3px;
    border-color: rgb(58, 58, 138);
    background-color: rgb(143, 143, 229);
}

nav > ul{
    display: grid;
    grid-template-columns: 421px 421px 421px;
    grid-template-rows: auto;
    grid-template-areas:
    "section";

    padding: 0;
    margin: 0;
}

#index li:nth-child(1){
    background-color: rgb(129, 129, 212);
}

#sida2 li:nth-child(2){
    background-color: rgb(129, 129, 212);
}

#sida3 li:nth-child(3){
    background-color: rgb(129, 129, 212);
}


li{
    list-style-type: none;
}

li:hover{
    background-color: rgb(129, 129, 212);
}

a{
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Arial;
}