body{
    background-color: rgb(221, 221, 255);
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
}

#sida1 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
}

#sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
}

header{
    grid-area: header;

    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 3px;
    border-color: rgb(25, 25, 61);
    background-color: rgb(143, 143, 229);
}

header h1{
    font-size: 3em;
    margin: 5px;
}

main{
    grid-area: main;
    font-size: 1.5em;
}

p{
    margin: 5px;
}

nav{
    grid-area: nav;
    
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 3px;
    border-color: rgb(25, 25, 61);
    background-color: rgb(143, 143, 229);
}

nav > ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "section";

    padding: 0;
    margin: 0;
}

footer{
    grid-area: footer;
    font-size: 1em
}

li{
    list-style-type: none;
}

li:hover{
    background-color: rgb(129, 129, 212);
}

a{
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Arial;
}